:root {
  --gris1: #8577ED;
  --gris2: #f3f4f6;
  --blanco: #fff;
  --negro: #000000;
  --azul: #000000;
  --transparente-negro: rgba(0, 0, 0, 0.8); /* Fondo con opacidad */
  --azul-hover: #8577ED; /* Efecto hover del botón BtnAC */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin-top: 98px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  color: var(--negro);
  width: 100%;
}

html {
  scroll-behavior: smooth;
}
/* -----Optica---- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--blanco);
  padding: 10px 10px;
  background-color: var(--blanco);
  z-index: 1000;
}

.contenedor {
  border: 1px var(--rojo) solid;
}
.contenedor1 {
  display: flex;
  justify-content: space-between;
  background-color: var(--blanco);
}
.contenedor1 h2 {
  line-height: 70px;
  font-size: 34px;
}
.caja {
  border: 0px blue solid;
  width: 450px;
}
.caja1 a {
  border: 1px var(--gris1) solid;
  border-radius: 5px;
  text-decoration: none;
  line-height: 70px;
  color: #242424;
  font-weight: bold;
  padding: 10px;
  transition: background-color .3s ease-in-out;
}
.caja1 a:hover {
  border: 1px var(--gris1) solid;
  background-color: var(--gris1);
  color: var(--negro);
  color: var(--blanco);
}
.caja img {
  height: 70px;
  max-width: 100%; /* Evita que las imágenes desborden */
}

.tamaño {
  width: 70px;
}
.caja p {
  font-size: 12px;
}
/* ---Bienvenida-- */
.contenedor2 {
  background-image: url(../imagenes/imagen1.png);
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blanco);
  text-align: center;
  position: relative;
}

.caja2 {
  height: 400px;
  background-color: var(--transparente-negro);
  color: var(--blanco);
  text-align: center;
  padding: 20px;
}

.BtnAC {
  
  border-radius: 5px;
  background-color: var(--azul);
  padding: 10px 20px;
  color: var(--blanco);
  text-decoration: none;
  position: relative;
  z-index: 1;
  transition: background-color 0.3s;
}

.BtnAC:hover {
  background-color: var(--azul-hover); /* Efecto de hover */
}

.tamaño1 {
  width: 1350px;
}
.caja2 h1 {
  font-size: 70px;
}

/* Nuestro Servicio */
.contenedor3 {
  
  text-align: center;
  background-color: var(--gris2);
  height: 370px;
}
.caja3 {
  border: 1px var(--blanco) solid;
  border-radius: 5px;
  width: 400px;
  display: inline-block;
  background-color: var(--blanco);
  padding: 30px;
  margin: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin: 5px;
}
/* ---Producto--- */
.contenedor4 {
  
  height: 500px;
  text-align: center;
}
.caja4 {
  display: inline-flex;
}
.cajaproducto {
  border: 1px var(--blanco) solid;
  border-radius: 6px;
  width: 300px;
  text-align: left;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin: 5px;
}
.tex1 {
  color: var(--negro);
  font-weight: bold;
}
.Btn3 {
  border: 1px var(--gris1) solid;
  border-radius: 5px;
  padding: 5px 100px;
  text-decoration: none;
  color: var(--negro);
  font-weight: bold;
  width: 200px;
}
.Btn3:hover {
  background-color: var(--gris1);
  color: var(--blanco);
}
.contenedor5 {
  text-align: left;
  display: flex;
  padding-left: 120px;
  padding-top: 50px;
  height: 400px;
  background-color: var(--gris2);
}
.caja5_1 iframe {
  border-radius: 10px;
}
.caja5_2 {
  text-align: justify;
  padding: 20px;
  width: 500px;
}
/* ---Contactanos-- */
.contenedor6 {
  border: 0px var(--azul) solid;
  padding: 10px;
  height: 500px;
}
.content-ubi{
  display: flex;
}
.contenedor6 h1 {
  text-align: center;
  padding: 10px;
}
.caja6 {
  display: flex;
  justify-content: space-evenly;
  height: 300px;
  width: 100%;
  padding: 10px;
  margin-left: 0; /* Elimina márgenes innecesarios */
}

.caja7 input {
  border: 1px var(--gris1) solid;
  border-radius: 5px;
  height: 40px;
  width: 700px;
  margin: 5px;
  padding: 5px;
}

.caja7 textarea {
  border: 1px var(--gris1) solid;
  border-radius: 5px;
  height: 60px;
  width: 700px;
  margin: 5px;
  padding: 5px;
  resize: none;
}
.Btn {
  background-color: var(--negro);
  color: var(--blanco);
  cursor: pointer;
  transition: background-color .5s ease-in-out;
}
.Btn:hover{
  background-color: var(--gris1);
}
.contenedor9 {
  
  text-align: center;
  background-color: var(--gris2);
  padding: 10px;
}
/* ------- */
.caja6 img {
  height: 25px;
}
.caja6 li {
  font-weight: bold;
  line-height: 2.6;
}
.maps {
  border-radius: 10px;
  width: 750px;
  height: 350px;
  margin: 20px;
}

.info {
  list-style-type: none;
  padding: 0;
  font-family: Arial, sans-serif;
}

.info span {
  vertical-align: middle;
  margin-left: 8px;
}

.info h2,
.info p {
  text-align: justify;
}

.info br {
  margin-bottom: 10px;
}

/* ----La parte de abajo--- */
.contenedor7 {
  
  text-align: center;
  height: 130px;
  background-color: var(--azul);
  color: var(--blanco);
}

.contenedor7 a {
  text-decoration: none;
}
/* ------------------ */
/* Ver solo un producto */
.contenedor8 {
  
  height: 410px;
  display: flex;
  background-color: var(--gris1);
}
.caja8 {
  border: 0px var(--azul) solid;
  height: 410px;
  width: 700px;
}
.fotopromo {
  max-width: 280px;
}
.reds {
  height: 50px;
}
